*{
	box-sizing: border-box;
}


html{
	font-family: 'Oswald', sans-serif;
}

body {
	background-color: #C4D7FF   ;
	margin:0;
}

.lateral{
	background-color: #043C8A;
 	bottom: 0;
 	left: 0;
 	padding: 1em;
 	position: fixed;
 	top: 0;
 	width: 350px;
}


.perfil_circulo{
	border-radius: 50%;
	height: 50px;
	overflow: hidden;
	margin: 0;
	width: 50px;

}


.perfil_foto{
	width: 100%;
}

.perfil_nombres{
	color: #fff;
	font-size: 20px;
	margin-left: .5em;
	width: 250px;
}

.perfil_nombres, .perfil_circulo{
	display: inline-block;
	vertical-align: middle;

}


 	.informacion {
 		color: #F5E9E9;
 		position: absolute;
 		bottom: 1em;
 	}

 	.informacion_titulo{
 		font-size: 18px;
 	}

 	.habilidades{
 		padding: 0;
 	}

 	.habilidad{
 		background-color: #00AAED;
 		color: #EDEEF2;
 		display: inline-block;
 		font-size: 12px;
 		text-transform: uppercase;
 		padding: .5em;
 	}



.habilidad_proyecto{
	background-color:#DE0B43 ;
	color: #DE0B43;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: .5em;
}


 	.proyectos {
 		margin-left: 350px;
	padding: 1em;
	display: table;

 	}

 	.proyecto {
 		display: table-cell;
 		width: 50%;
 		padding: 1em;
 	}

 	.proyecto_imagen {
 		width: 100%;
 	}

 	#links {
	color: #000000;
}

.proyecto_titulo{
	color:#C40808;
	font-size: 18px;
}

.proyecto_descripcion{
	color: grey;
}